extends ../_layouts/default.pug

block variables
  - var title = "Bubble Map (Land)"
  - var description = "This page shows the current version of Gapminder's bubble map."
  - var tool = "ExtApiMap"
  - var tool_config = "ExtApiMap"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/bubblemap"
  - var chart_data = "{ reader: 'waffle', path: 'https://waffle-server-dev.gapminderdev.org/api/ddf/ql', assetsPath: 'https://import-waffle-server-dev.gapminderdev.org/api/ddf/assets/'}"
