extends ../_layouts/default.pug

block variables
  - var title = "Igno reports"
  - var description = ""
  - var tool = "IgnoReports"
  - var tool_config = "IgnoReports-reactive"
  - var source_code = ""
  - var chart_data = "{}"
