extends ../_layouts/default.pug

block variables
  - var title = "Population by age"
  - var menu_title = "Pop by age"
  - var description = "This page shows the current version of Gapminder's population by age chart."
  - var tool = "PopByAge"
  - var tool_config = "PopByAge"
  - var source_code = "https://github.com/Gapminder/vizabi/tree/develop/src/tools/popbyage"
  - var chart_data = "{ reader: 'waffle', dataset: 'open-numbers/ddf--gapminder--population#develop', path: 'https://waffle-server-dev.gapminderdev.org/api/ddf/ql' }"
