extends ../_layouts/default.pug

block variables
  - var title = "Sankey Diagram"
  - var description = "This page shows the current version of Gapminder's sankey diagram"
  - var tool = "Sankey"
  - var tool_config = "Sankey-custom"
  - var source_code = "https://github.com/vizabi/vizabi-sankey"
  - var chart_data = "{ reader: 'ddf', path: 'data/ddf--mock--energyflows' }"
