extends ../_layouts/default.pug

block variables
    - var title = "Sankey Chart"
    - var description = "This page shows the current version of Gapminder's bar sankey chart."
    - var tool = "Sankey"
    - var tool_config = "Sankey-custom"
    - var chart_data = "{ reader: 'waffle', path: 'https://waffle-server-dev.gapminderdev.org/api/ddf' }"
