extends ../_layouts/default.pug

block variables
  - var title = "Spreadsheet"
  - var description = "This page shows a spreadsheet from ddfql queries"
  - var tool = "Spreadsheet"
  - var tool_config = "BubbleChart"
  - var source_code = "https://github.com/vizabi/vizabi-spreadsheet"
  - var chart_data = "{ reader: 'ddfbw', 'service': 'https://big-waffle.gapminder.org', dataset: 'SG-develop' }"
